<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" />
  <title>PassionPath Program</title>

  <!-- Import Google Fonts Poppins -->
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap" rel="stylesheet" />
  <!-- Link to external CSS -->
  <link rel="stylesheet" href="{% static 'css/courses/style_courses.css' %}" />
  <link rel="stylesheet" href="{% static 'css/style_nav-footer.css'%}" />

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" />
</head>

<body>
  <header>
    <div class="navbar-custom">
      <div class="rata-kiri">
        <div class="logo">
          <a href="{% url 'index' %}"><img src="{% static 'img/logo_long_passionpath.png'%}" alt="PassionPath Logo" /></a>
        </div>
        <nav>
          <ul>
            <li><a href="{% url 'index' %}">Home</a></li>
            <li><a href="{% url 'about' %}">About</a></li>
            <li><a href="{% url 'product' %}">Product</a></li>
            <li><a href="{% url 'contact' %}">Contact</a></li>
          </ul>
        </nav>
      </div>

    <div class="auth-buttons">
        {% if user.is_authenticated %}
        <div class="btn-group">
            <button type="button" class="btn dropdown-toggle" style="border: none;" data-bs-toggle="dropdown"
                data-bs-display="static" aria-expanded="false">
               <strong>Halo,{{ user.first_name }}!</strong>
            </button>
            <ul class="dropdown-menu dropdown-menu-lg-end">
                <li><a class="dropdown-item" href="{% url 'dashboard_admin' %}">Dashboard</a></li>
                <li><a class="dropdown-item" href="{% url 'profile_redirect' %}">Profile</a></li>
                <li><a class="dropdown-item" href="{% url 'logout' %}">Logout</a></li>
            </ul>
        </div>
        {% else %}
        <!-- Jika pengguna belum login, tampilkan tombol login dan register -->
        <a href="{% url 'login' %}">
            <button class="login-btn">Login</button>
        </a>
        <a href="{% url 'register' %}">
            <button class="register-btn">Register</button>
        </a>
        {% endif %}
    </div>
      <i class="fa fa-bars" aria-hidden="true" id="menu-icon"></i>
    </div>
  </header>

  <section class="main-section">
    <h2 style="margin-left: -65px; margin-right: 20px; text-align: center;">Bussines</h2>
    <p style="margin-left: -65px; margin-right: 20px; text-align: justify;">{{ kelas.deskripsi }}</p>
  </section>

  <section class="program-container">
    <!-- Program 2 -->
    <div class="program-container">
      <!-- Looping through episodes -->
      {% for episode in episode_list %}
          <div class="program-card">
              <img src="{% static 'img/bsn12.jpeg' %}" alt="Video Interaktif" />
              <h3>{{ episode.judul_episode }}</h3>
              <p>{{ episode.deskripsi_episode }}</p>
  
              <p class="price">
                  {% if episode.is_free %}
                      <strong class="free">Gratis</strong>
                  {% else %}
                      <strong class="paid">Berbayar</strong>
                  {% endif %}
                  <a href="{% url 'product' %}">
                      <button type="button" class="btn btn-primary">Watch</button>
                  </a>
              </p>
          </div>
      {% empty %}
          <p>No episodes available.</p>
      {% endfor %}
  </div>
    <!-- Program 3 -->
    <div class="program-card">
      <img src="{% static 'img/bsn11.jpeg' %}" alt="Video Interaktif" />
      <h3 style="text-align: left">Eps 3 : Management: The Art and Science of Managing</h3>
      <p style="text-align: justify">Episode ketiga ini kita akan mencari tau apa yang dilakukan oleh seorang manager
        dan akan membahas juga fungsi-fungsi manajemen setra keterampilan yang dibutuhkan.</p>

      <p class="price">
        <strong class="free">Free</strong>
        <a href="{% url 'product' %}"><button type="button" class="btn btn-primary">Watch</button></a>
      </p>
    </div>

    <div class="program-card">
      <img src="{% static 'img/bsn3.jpeg' %}" alt="Video Interaktif" />
      <h3 style="text-align: left">Eps 4 : Company Resources</h3>
      <p style="text-align: justify">Di episode kali ini kita akan membahas apa saja sumber daya yang dibutuhkan untuk
        menjalankan sebuah bisnis? Kita akan membahas sumber daya manusia, keuangan, fisik, dan informasi yang
        dibutuhkan.</p>

      <p class="price">
        <strong class="free"><i class="fa-solid fa-lock"></i></strong>
        <a href="{% url 'product' %}"><button type="button" class="btn btn-primary">Watch</button></a>
      </p>
    </div>

    <div class="program-card">
      <img src="{% static 'img/bsn8.jpeg' %}" alt="Video Interaktif" />
      <h3 style="text-align: left">Eps 5 : Micro and Macro Environment</h3>
      <p style="text-align: justify"> Kira-kira apa saja faktor yang mempengaruhi keberhasilan sebuah bisnis? Episode
        ini kita akan menganalisis lingkungan bisnis secara mikro dan makro serta memahami tentang SWOT.</p>

      <p class="price">
        <strong class="free"><i class="fa-solid fa-lock"></i></strong>
        <a href="{% url 'product' %}"><button type="button" class="btn btn-primary">Watch</button></a>
      </p>
    </div>

    <div class="program-card">
      <img src="{% static 'img/bsn7.jpeg' %}" alt="Video Interaktif" />
      <h3 style="text-align: left">Eps 6 : Business Etiquette</h3>
      <p style="text-align: justify">Mengapa etika penting dalam bisnis? Kita akan membahas konsep etika bisnis,
        tanggungjawab sosial perusahaan dan kasus-kasus yang sering terjadi.</p>

      <p class="price">
        <strong class="free"><i class="fa-solid fa-lock"></i></strong>
        <a href="{% url 'product' %}"><button type="button" class="btn btn-primary">Watch</button></a>
      </p>
    </div>

    <div class="program-card">
      <img src="{% static 'img/bsn5.jpeg' %}" alt="Video Interaktif" />
      <h3 style="text-align: left">Eps 7 : Become an Entrepreneur</h3>
      <p style="text-align: justify">Apakah kamu tau wirausahawan? Apa yang membuat seseorang menjadi wirausahawan yang
        sukses? Kita akan membahas karakteristik dan tantangan yang dihadapi oleh wirausahawan.</p>

      <p class="price">
        <strong class="free"><i class="fa-solid fa-lock"></i></strong>
        <a href="{% url 'product' %}"><button type="button" class="btn btn-primary">Watch</button></a>
      </p>
    </div>

    <div class="program-card">
      <img src="{% static 'img/bsn6.jpeg' %}" alt="Video Interaktif" />
      <h3 style="text-align: left">Eps 8 : Business Plan</h3>
      <p style="text-align: justify">Kira-kira bagaimana cara menyusun rencana bisnis yang baik? Kita akan membahas
        langkah-langkah dalam membuat rencana bisnis.</p>

      <p class="price">
        <strong class="free"><i class="fa-solid fa-lock"></i></strong>
        <a href="{% url 'product' %}"><button type="button" class="btn btn-primary">Watch</button></a>
      </p>
    </div>

    <div class="program-card">
      <img src="{% static 'img/bsn9.jpeg' %}" alt="Video Interaktif" />
      <h3 style="text-align: left">Eps 9 : Professions in Business</h3>
      <p style="text-align: justify">Ingin tau tentang profesi apa saja yang bisa kita pilih di bidang bisnis? Kita akan
        membahas berbagai pilihan karier dan kualifikasi yang dibutuhkan.</p>

      <p class="price">
        <strong class="free"><i class="fa-solid fa-lock"></i></strong>
        <a href="{% url 'product' %}"><button type="button" class="btn btn-primary">Watch</button></a>
      </p>
    </div>

    <div class="program-card">
      <img src="{% static 'img/bsn4.jpeg' %}" alt="Video Interaktif" />
      <h3 style="text-align: left">Eps 10 : Promising Industry</h3>
      <p style="text-align: justify">
        Industri apa yang sedang berkembang saat ini? Disini kita akan membahas tren bisnis masa depan dan peluang
        karier apa saja yang menjanjikan.
      </p>
      <p class="price">
        <strong class="free"><i class="fa-solid fa-lock"></i></strong>
        <a href="{% url 'product' %}"><button type="button" class="btn btn-primary">Watch</button></a>
      </p>
    </div>

    <div class="program-card">
      <img src="{% static 'img/bsn10.jpeg' %}" alt="Video Interaktif" />
      <h3 style="text-align: left">Eps 11 : Social Entrepreneurship</h3>
      <p style="text-align: justify">
        Episode ini akan membahas konsep kewirausahaan sosial, yaitu bisnis yang didirikan dengan tujuan utama untuk
        menyelesaikan masalah sosial. Kita akan belajar tentang berbagai model bisnis sosial dan kisah sukses para
        wirausahawan sosial.
      </p>
      <p class="price">
        <strong class="free"><i class="fa-solid fa-lock"></i></strong>
        <a href="{% url 'product' %}"><button type="button" class="btn btn-primary">Watch</button></a>
      </p>
    </div>

    <div class="program-card">
      <img src="{% static 'img/bsn1.jpeg' %}" alt="Video Interaktif" />
      <h3 style="text-align: left">Eps 12 : International Business</h3>
      <p style="text-align: justify">
        Dunia bisnis tidak lagi terbatas pada satu negara. Episode ini akan membahas bagaimana perusahaan-perusahaan
        besar beroperasi di pasar global. Kita akan belajar tentang strategi memasuki pasar internasional, tantangan
        yang dihadapi, dan pentingnya memahami perbedaan budaya dalam menjalankan bisnis
      </p>
      <p class="price">
        <strong class="free"><i class="fa-solid fa-lock"></i></strong>
        <a href="{% url 'product' %}"><button type="button" class="btn btn-primary">Watch</button></a>
      </p>
    </div>
  </section>

  <footer>
    <div class="footer-container">
      <div class="footer-about">
        <h3>Tentang Kami</h3>
        <p>
          PassionPath membantu pengguna mengenali potensi dan minat melalui
          tes psikologis ilmiah. Platform ini memberikan rekomendasi karir dan
          pendidikan yang sesuai, serta laporan hasil tes untuk pengembangan
          diri dan perencanaan masa depan.
        </p>
      </div>

      <div class="kekanan">
        <div class="contact-us">
          <!-- <div class="footer-links"> -->
          <h3>Contact Us</h3>
          <ul>
            <li>
              <a href="#"><i class="fa-brands fa-whatsapp"></i> Whatsapp</a>
            </li>
            <li>
              <a href="#courses"><i class="fa-solid fa-envelope"></i> Email</a>
            </li>
            <li>
              <a href="#about"><i class="fa-solid fa-location-dot"></i> Cawang PGC, Lt.4</a>
            </li>
          </ul>
        </div>

        <div class="information">
          <!-- <div class="footer-contact"> -->
          <h3>information</h3>
          <ul>
            <li>
              <a href="#"><i class="fa-solid fa-hand-holding-dollar"></i> Jumlah
                Donasi</a>
            </li>
            <li>
              <a href="#"><i class="fa-solid fa-images"></i> Dokumentasi</a>
            </li>
            <li>
              <a href="#"><i class="fa-solid fa-pen-to-square"></i> Program &
                Rencana</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </footer>

  <!-- javascript -->
<!-- JavaScript -->
<script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
<script src="{% static 'js/navbar.js' %}"></script>
</body>

</html>
