<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>PassionPath Contact</title>

    <!-- Import Google Fonts Poppins -->
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap" rel="stylesheet" />

    <!-- Link to external CSS -->
    <link rel="stylesheet" href="../style/style_nav-footer.css" />
    <link rel="stylesheet" href="../style/style_contact.css" />
    <link href="../bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" />
</head>

<body>
    <header>
        <div class="navbar-custom">
            <div class="rata-kiri">
                <div class="logo">
                    <a href="../index.html" img><img src="../img/logo_long_passionpath.png" alt="PassionPath Logo" /></a>
                </div>
                <nav>
                    <ul>
                        <li><a href="../index.html">Home</a></li>
                        <li><a href="../view/about.html">About</a></li>
                        <li><a href="../view/product.html">Products</a></li>
                        <li><a href="../view/contact.html">Contact</a></li>
                    </ul>
                </nav>
            </div>
            <div class="auth-buttons">
                <a href="../view/login.html">
                    <button class="login-btn">Login</button>
                </a>
                <a href="../view/register.html">
                    <button class="register-btn">Register</button>
                </a>
            </div>
            <i class="fa fa-bars" aria-hidden="true" id="menu-icon"></i>
        </div>
    </header>
    
    <section class="hero">
        <div class="highlight-bg">
          <h1>Contact us</h1>
        </div>
    </section>

    <div class="container">
        <div class="card">
            <br>
            <div class="row g-0">
                <div class="col-md-6">
                    <img alt="" class="img-fluid mx-auto d-block w-100" height="600" src="../img/bgcontact.svg" />

                    <!-- <a href="#"><h6 class="text-left mb-4" style="margin-left: 5rem;"><i class="fa-brands fa-whatsapp fa-lg" style="color: #8968F6;" ></i>  +62-8222-3333</h6></a>
                    <a href="#"><h6 class="text-left mb-4" style="margin-left: 5rem;"><i class="fa-solid fa-envelope fa-lg" style="color: #8968F6;"></i>  passionpath@gmail.com</h6></a>
                    <a href="#"><h6 class="text-left mb-4" style="margin-left: 5rem;"><i class="fa-solid fa-location-dot fa-lg" style="color: #8968F6;"></i>  Cawang, PGC Lt.4</h6></a> -->
                    
                </div>
                <div class="col-md-6">
                    <div class="card-body">
                        <h4 class="text-center mb-4">Let's talk about your next plan</h4>
                        <form>
                            <input class="form-control" placeholder="Name" type="Name" required />
                            <input class="form-control" placeholder="Email" type="Email" required />
                            <textarea class="form-control" id="exampleFormControlTextarea1" rows="5" 
                            placeholder="Massage" type="Massage"></textarea>
                            <button class="btn btn-primary w-100" type="submit">
                                Submit
                            </button>
                        </form>

                    </div>
                </div>
            </div>
            <br>
        </div>
    </div>

    <footer>
        <div class="footer-container">
            <div class="footer-about">
                <h3>Tentang Kami</h3>
                <p>
                    PassionPath membantu pengguna mengenali potensi dan minat melalui
                    tes psikologis ilmiah. Platform ini memberikan rekomendasi karir dan
                    pendidikan yang sesuai, serta laporan hasil tes untuk pengembangan
                    diri dan perencanaan masa depan.
                </p>
            </div>
            <div class="kekanan">
                <div class="contact-us">
                    <h3>Contact Us</h3>
                    <ul>
                        <li>
                            <a href="#"><i class="fa-brands fa-whatsapp"></i> Whatsapp</a>
                        </li>
                        <li>
                            <a href="#courses"><i class="fa-solid fa-envelope"></i> Email</a>
                        </li>
                        <li>
                            <a href="#about"><i class="fa-solid fa-location-dot"></i> Cawang PGC, Lt.4</a>
                        </li>
                    </ul>
                </div>
                <div class="information">
                    <h3>Information</h3>
                    <ul>
                        <li>
                            <a href="#"><i class="fa-solid fa-hand-holding-dollar"></i> Jumlah
                                Donasi</a>
                        </li>
                        <li>
                            <a href="#"><i class="fa-solid fa-images"></i> Dokumentasi</a>
                        </li>
                        <li>
                            <a href="#"><i class="fa-solid fa-pen-to-square"></i> Program &
                                Rencana</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>

    <!-- JavaScript -->
    <script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4="
    crossorigin="anonymous"></script>
     <script src="../style/navbar.js"></script>
</body>

</html>
