<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="stylesheet" href="../style/style_dashboard.css" />
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap" rel="stylesheet">
</head>
<body>
    <div class="sidebar">
        <div class="logo">
            <img src="../img/logo_long_passionpath.png" alt="PassionPath Logo">
        </div>
        <div class="divider"></div>
        <ul class="menu">
            <li>Dashboard</li>
            <li>Program</li>
            <li>Pengaturan Pengguna</li>
            <li>Pembayaran</li>
            <li>Laporan & Analisis</li>
        </ul>
        <div class="divider divider-bottom"></div>
        <div class="menu-bottom">
            <li>Pengaturan</li>
        </div>
    </div>

    <div class="main-content">
        <header>
            <div class="header-title">Dashboard</div>
            <div class="user-info">
                <div class="user-info-text">
                    <span>Admin Account</span>
                    <span>admin123@gmail.com</span>
                </div>
                <div class="user-icon">👤</div> 
            </div>
        </header>        
        <div class="dashboard">
            <h1>Hello, Person!</h1>
            <p>Overview</p>
            <div class="overview">
                <div class="card red">
                    <h2>1210</h2>
                    <p>Total Pengguna</p>
                </div>
                <div class="card blue">
                    <h2>30</h2>
                    <p>Video Interaktif</p>
                </div>
                <div class="card green">
                    <h2>05</h2>
                    <p>Kelas</p>
                </div>
                <div class="card pink">
                    <h2>57</h2>
                    <p>Pengajar</p>
                </div>
                <div class="card yellow">
                    <h2>26</h2>
                    <p>Soal Psikotes</p>
                </div>
                <div class="card purple">
                    <h2>20</h2>
                    <p>Sekolah Terafiliasi</p>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
