<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" />
  <title>PassionPath Program</title>

  <!-- Import Google Fonts Poppins -->
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap" rel="stylesheet" />
  <!-- Link to external CSS -->
  <link rel="stylesheet" href="../style/styles_product.css" />
  <link rel="stylesheet" href="../style/style_nav-footer.css" />

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" />
</head>

<body>
  <header>
    <div class="navbar-custom">
      <div class="rata-kiri">
        <div class="logo">
          <a href="../index.html"><img src="../img/logo_long_passionpath.png" alt="PassionPath Logo" /></a>
        </div>
        <nav>
          <ul>
            <li><a href="../index.html">Home</a></li>
            <li><a href="../view/about.html">About</a></li>
            <li><a href="../view/product.html">Product</a></li>
            <li><a href="../view/contact.html">Contact</a></li>
          </ul>
        </nav>
      </div>

      <div class="auth-buttons">
        <a href="../view/login.html">
          <button class="login-btn">Login</button>
        </a>
        <a href="../view/register.html">
          <button class="register-btn">Register</button>
        </a>
      </div>
      <i class="fa fa-bars" aria-hidden="true" id="menu-icon"></i>
    </div>
  </header>

  <section class="main-section">
    <h2>PassionPath Program</h2>
  </section>

  <div class="kategori">
    <a href="../view/courses/bussines.html">
        <button class="button-business">
            <i class="fa-solid fa-briefcase"></i>Business
        </button>
    </a>
    <a href="../view/courses/development.html">
        <button class="button-development">
            <i class="fa-solid fa-file-code"></i>Development
        </button>
    </a>
    <a href="../view/courses/language.html">
        <button class="button-language">
            <i class="fa-solid fa-language"></i>Language
        </button>
    </a>
    <a href="../view/courses/design.html">
        <button class="button-design">
            <i class="fa-solid fa-pen-ruler"></i>Design
        </button>
    </a>
    <a href="../view/courses/accounting.html">
        <button class="button-accounting">
            <i class="fa-solid fa-calculator"></i>Accounting
        </button>
    </a>
</div>


  <section class="program-container">
    <!-- Program 1 -->
    <div class="program-card">
      <img src="../img/pict_Program1_VideoInteraktif.jpg" alt="Video Interaktif" class="card-image" />
      <h3 style="text-align: left">Video Interaktif</h3>
      <p style="text-align: left">
        Jelajahi dunia kerja dengan cara yang seru! Video interaktif kami akan
        membantumu mengenal lebih dekat berbagai macam jurusan dan pekerjaan.
      </p>
      <p class="price">
        <strong class="free">Free</strong>
        <button type="button" class="btn btn-primary">Join Now</button>
      </p>
    </div>
    <!-- Program 2 -->
    <div class="program-card">
      <img src="../img/pict_Program2_TalkwithExpert.jpg" alt="Talk with Expert" class="card-image" />
      <h3 style="text-align: left">Talk with Expert</h3>
      <p style="text-align: left">
        Mau ngobrol dengan ahlinya? Yuk, join talk with expert dan dapatkan
        jawaban atas semua pertanyaanmu dari yang profesional dalam bidangnya.
      </p>
      <p class="price">
        Rp. 19.000
        <button type="button" class="btn btn-primary">Join Now</button>
      </p>
    </div>
    <!-- Program 3 -->
    <div class="program-card">
      <img src="../img/pict_Program3_Psikotest.jpeg" alt="Psikotest" class="card-image" />
      <h3 style="text-align: left">Psikotest</h3>
      <p style="text-align: left">
        Penasaran dengan potensi tersembunyimu? Temukan bakatmu yang
        sesungguhnya dengan tes minat bakat! Unlock potensimu dan raih
        kesuksesan yang tak terbatas.
      </p>
      <p class="price">
        Rp. 19.000
        <button type="button" class="btn btn-primary">Join Now</button>
      </p>
    </div>
  </section>

  <footer>
    <div class="footer-container">
      <div class="footer-about">
        <h3>Tentang Kami</h3>
        <p>
          PassionPath membantu pengguna mengenali potensi dan minat melalui
          tes psikologis ilmiah. Platform ini memberikan rekomendasi karir dan
          pendidikan yang sesuai, serta laporan hasil tes untuk pengembangan
          diri dan perencanaan masa depan.
        </p>
      </div>

      <div class="kekanan">
        <div class="contact-us">
          <!-- <div class="footer-links"> -->
          <h3>Contact Us</h3>
          <ul>
            <li>
              <a href="#"><i class="fa-brands fa-whatsapp"></i> Whatsapp</a>
            </li>
            <li>
              <a href="#courses"><i class="fa-solid fa-envelope"></i> Email</a>
            </li>
            <li>
              <a href="#about"><i class="fa-solid fa-location-dot"></i> Cawang PGC, Lt.4</a>
            </li>
          </ul>
        </div>

        <div class="information">
          <!-- <div class="footer-contact"> -->
          <h3>information</h3>
          <ul>
            <li>
              <a href="#"><i class="fa-solid fa-hand-holding-dollar"></i> Jumlah
                Donasi</a>
            </li>
            <li>
              <a href="#"><i class="fa-solid fa-images"></i> Dokumentasi</a>
            </li>
            <li>
              <a href="#"><i class="fa-solid fa-pen-to-square"></i> Program &
                Rencana</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </footer>

  <!-- javascript -->
  <script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4="
    crossorigin="anonymous"></script>
  <script src="../style/navbar.js"></script>
</body>

</html>
