<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>PassionPath</title>
  <link rel="shotcut icon" type="n-icon" href="../img/logo_Square_passionpath.png" />
  <link rel="stylesheet" href="../../style/courses/style_accounting.css" />
  <link rel="stylesheet" href="../../style/style_nav-footer.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" />
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous" />
  <!-- Import Google Fonts Poppins -->
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap" rel="stylesheet" />
  <!-- Link to external CSS -->
  <link rel="stylesheet" href="../../style/courses/style_courses.css" />
  <link rel="stylesheet" href="../../style/style_nav-footer.css" />

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" />
</head>

<body>
  <header>
    <div class="navbar-custom">
      <div class="rata-kiri">
        <div class="logo">
          <a href="../../index.html"><img src="../../img/logo_long_passionpath.png" alt="PassionPath Logo" /></a>
        </div>
        <nav>
          <ul>
            <li><a href="../../index.html">Home</a></li>
            <li><a href="../../view/about.html">About</a></li>
            <li><a href="../../view/product.html">Product</a></li>
            <li><a href="../view/contact.html">Contact</a></li>
          </ul>
        </nav>
      </div>

      <div class="auth-buttons">
        <a href="../../view/login.html">
          <button class="login-btn">Login</button>
        </a>
        <a href="../../view/register.html">
          <button class="register-btn">Register</button>
        </a>
      </div>
      <i class="fa fa-bars" aria-hidden="true" id="menu-icon"></i>
    </div>
  </header>

  <section class="main-section">
    <h2 style="margin-left: -65px; margin-right: 20px; text-align: center;">Accounting</h2>
    <p style="margin-left: -65px; margin-right: 20px; text-align: justify;">
      Kamu suka tantangan mengelola angka dan ingin tahu bagaimana keuangan perusahaan dijalankan? Akuntansi bukan hanya
      soal hitung-menghitung, tapi juga tentang bagaimana memastikan bisnis berjalan dengan lancar dan efisien. Dari
      menganalisis laporan keuangan hingga memberikan insight berharga bagi pengambilan keputusan, akuntan memainkan
      peran penting dalam setiap industri. Dengan keterampilan akuntansi, kamu nggak hanya membantu perusahaan, tapi
      juga bisa mengontrol keuangan pribadi atau bahkan memulai bisnismu sendiri. Kalau kamu ingin menjadi ahli yang
      diandalkan di bidang keuangan, program akuntansi ini akan memberikan kamu pengetahuan dan keterampilan yang
      diperlukan. Siap untuk membangun masa depanmu di dunia keuangan?
    </p>
  </section>

  <section class="program-container">
    <!-- Program 1 -->
    <div class="program-card">
      <img src="../../img/pict_accounting1.jpg" alt="Video Interaktif" />
      <h3 style="text-align: left">Eps 1: Accounting for Beginner</h3>
      <p style="text-align: justify">
        Jangan anggap angka selalu menyeramkan, karena di episode ini kita
        akan membahas dasar-dasar akuntansi dalam bentuk yang mudah dipahami
        untuk pemula. Kamu akan belajar apa itu akuntansi, bagaimana fungsinya
        dalam mencatat dan mengelola keuangan, serta mengapa akuntansi penting
        di kehidupan sehari-hari.
      </p>
      <p class="price">
        <strong class="free">Free</strong>
        <a href="../../view/product.html"><button type="button" class="btn btn-primary">Watch</button></a>
      </p>
    </div>

    <!-- Program 2 -->
    <div class="program-card">
      <img src="../../img/pict_accounting2.jpg" alt="Video Interaktif" />
      <h3 style="text-align: left">
        Eps 2: Accounting Ethics Introduction
      </h3>
      <p style="text-align: justify">
        Kejujuran, transparansi, dan tanggung jawab dalam mengelola keuangan
        adalah hal yang krusial di dunia akuntansi. Kamu akan belajar
        bagaimana prinsip-prinsip etika ini memengaruhi keputusan akuntansi
        dan menjaga integritas dalam praktik akuntansi profesional. Simak
        semuanya di episode ini.
      </p>
      <p class="price">
        <strong class="free">Free</strong>
        <a href="../../view/product.html"><button type="button" class="btn btn-primary">Watch</button></a>
      </p>
    </div>

    <!-- Program 3 -->
    <div class="program-card">
      <img src="../../img/pict_accounting3.jpg" alt="Video Interaktif" />
      <h3 style="text-align: left">Eps 3: Accounting Cycle</h3>
      <p style="text-align: justify">
        Di episode ini, kamu akan mempelajari tahapan dalam siklus akuntansi,
        mulai dari pencatatan transaksi, penggolongan, hingga penyusunan
        laporan keuangan. Kamu akan menjelajahi bagaimana setiap transaksi
        dicatat dan diproses secara sistematis untuk menghasilkan laporan yang
        aktual.
      </p>
      <p class="price">
        <strong class="free">Free</strong>
        <a href="../../view/product.html"><button type="button" class="btn btn-primary">Watch</button></a>
      </p>
    </div>

    <!-- Program 4 -->
    <div class="program-card">
      <img src="../../img/pict_accounting4.jpg" alt="Video Interaktif" />
      <h3 style="text-align: left">Eps 4: General Ledger & Journal</h3>
      <p style="text-align: justify">
        Di episode ini, kamu akan mempelajari tentang buku besar dan jurnal
        umum. Kamu akan mengeksplor cara menyusun dan menganalisis buku besar
        serta jurnal umum dengan pembelajaran yang intuitif dan mudah
        dipahami.
      </p>
      <p class="price">
        <strong class="free"><i class="fa-solid fa-lock"></i></strong>
        <a href="../../view/product.html"><button type="button" class="btn btn-primary">Watch</button></a>
      </p>
    </div>

    <!-- Program 5 -->
    <div class="program-card">
      <img src="../../img/pict_accounting5.jpg" alt="Video Interaktif" />
      <h3 style="text-align: left">Eps 5 : Financial Statement</h3>
      <p style="text-align: justify">
        Laporan keuangan digunakan untuk mengevaluasi kondisi finansial suatu
        bisnis. Kamu akan mempelajari cara menyusun laporan keuangan yang
        terdiri dari laporan laba rugi, neraca, dan arus kas. Simak
        selengkapnya di episode ini.
      </p>
      <p class="price">
        <strong class="free"><i class="fa-solid fa-lock"></i></strong>
        <a href="../../view/product.html"><button type="button" class="btn btn-primary">Watch</button></a>
      </p>
    </div>

    <!-- Program 6 -->
    <div class="program-card">
      <img src="../../img/pict_design6.jpg" alt="Video Interaktif" />
      <h3 style="text-align: left">Eps 6: Mandatory Materials</h3>
      <p style="text-align: justify">
        Ada banyak peralatan yang akan menemani kamu menyusun karir di dunia
        akuntansi. Kamu akan mengenal berbagai software akuntansi sederhana
        yang bisa membantu mencatat transaksi dan mengelola keuangan dengan
        lebih mudah. Kamu akan belajar menggunakan alat seperti Microsoft
        Excel atau aplikasi akuntansi gratis yang cocok untuk pemula. Pelajari
        semua di episode ini.
      </p>
      <p class="price">
        <strong class="free"><i class="fa-solid fa-lock"></i></strong>
        <a href="../../view/product.html"><button type="button" class="btn btn-primary">Watch</button></a>
      </p>
    </div>
  </section>

  <footer>
    <div class="footer-container">
      <div class="footer-about">
        <h3>Tentang Kami</h3>
        <p>
          PassionPath membantu pengguna mengenali potensi dan minat melalui
          tes psikologis ilmiah. Platform ini memberikan rekomendasi karir dan
          pendidikan yang sesuai, serta laporan hasil tes untuk pengembangan
          diri dan perencanaan masa depan.
        </p>
      </div>

      <div class="kekanan">
        <div class="contact-us">
          <!-- <div class="footer-links"> -->
          <h3>Contact Us</h3>
          <ul>
            <li>
              <a href="#"><i class="fa-brands fa-whatsapp"></i> Whatsapp</a>
            </li>
            <li>
              <a href="#courses"><i class="fa-solid fa-envelope"></i> Email</a>
            </li>
            <li>
              <a href="#about"><i class="fa-solid fa-location-dot"></i> Cawang PGC, Lt.4</a>
            </li>
          </ul>
        </div>

        <div class="information">
          <!-- <div class="footer-contact"> -->
          <h3>information</h3>
          <ul>
            <li>
              <a href="#"><i class="fa-solid fa-hand-holding-dollar"></i> Jumlah
                Donasi</a>
            </li>
            <li>
              <a href="#"><i class="fa-solid fa-images"></i> Dokumentasi</a>
            </li>
            <li>
              <a href="#"><i class="fa-solid fa-pen-to-square"></i> Program &
                Rencana</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </footer>

  <!-- javascript -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"></script>
  <script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4="
    crossorigin="anonymous"></script>
  <script src="../../style/navbar.js"></script>
</body>

</html>
