<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" />
  <title>PassionPath Program</title>

  <!-- Import Google Fonts Poppins -->
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap" rel="stylesheet" />
  <!-- Link to external CSS -->
  <link rel="stylesheet" href="../../style/courses/style_courses.css" />
  <link rel="stylesheet" href="../../style/style_nav-footer.css" />

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" />
</head>

<body>
  <header>
    <div class="navbar-custom">
      <div class="rata-kiri">
        <div class="logo">
          <a href="../../index.html"><img src="../../img/logo_long_passionpath.png" alt="PassionPath Logo" /></a>
        </div>
        <nav>
          <ul>
            <li><a href="../../index.html">Home</a></li>
            <li><a href="../../view/about.html">About</a></li>
            <li><a href="../../view/product.html">Product</a></li>
            <li><a href="../view/contact.html">Contact</a></li>
          </ul>
        </nav>
      </div>

      <div class="auth-buttons">
        <a href="../../view/login.html">
          <button class="login-btn">Login</button>
        </a>
        <a href="../../view/register.html">
          <button class="register-btn">Register</button>
        </a>
      </div>
      <i class="fa fa-bars" aria-hidden="true" id="menu-icon"></i>
    </div>
  </header>

  <section class="main-section">
    <h2 style="margin-left: -65px; margin-right: 20px; text-align: center;">Bussines</h2>
    <p style="margin-left: -65px; margin-right: 20px; text-align: justify;">Pernah nggak sih, kamu ngelihat produk baru
      yang keren banget dan kepikiran,
      "Kok bisa ya orang bikin produk sekeren ini?" Atau, pernah melihat iklan di TV,
      atau situs belanja online? Semua itu nggak lepas dari peran orang-orang yang berkecimpung di dunia bisnis.
      Mulai dari yang bikin produknya, yang ngiklanin, sampai yang ngurus keuangannya.
      Nah, kalau kamu tertarik jadi bagian dari dunia yang seru ini, jurusan bisnis adalah pilihan yang tepat.
      Di video ini, kita akan bahas lebih lanjut tentang apa aja yang bisa kamu lakukan dengan gelar sarjana bisnis.
    </p>
  </section>

  <section class="program-container">
    <!-- Program 1 -->
    <div class="program-card">
      <img src="../../img/bsn12.jpeg" alt="Video Interaktif" />
      <h3 style="text-align: left">Eps 1 : Intro To Bussiness</h3>
      <p style="text-align: justify">Pada episode pertama ini kita akan belajar tentang definisi bisnis secara umum,
        fungsi, dan jenis-jenis bisnis.</p>

      <p class="price">
        <strong class="free">Free</strong>
        <a href="../../view/product.html"><button type="button" class="btn btn-primary">Watch</button></a>
      </p>
    </div>
    <!-- Program 2 -->
    <div class="program-card">
      <img src="../../img/bsn2.jpeg" alt="Video Interaktif" />
      <h3 style="text-align: left">Eps 2 : History of Business Development</h3>
      <p style="text-align: justify">Di episode ini kita akan mencari tau bagaimana bisnis berkembang dari zaman ke
        zaman? Juga akan melihat sejarah singkat perkembangan dunia bisnis dan pengaruh teknologi dalam sebuah bisnis.
      </p>

      <p class="price">
        <strong class="free">Free</strong>
        <a href="../../view/product.html"><button type="button" class="btn btn-primary">Watch</button></a>
      </p>
    </div>
    <!-- Program 3 -->
    <div class="program-card">
      <img src="../../img/bsn11.jpeg" alt="Video Interaktif" />
      <h3 style="text-align: left">Eps 3 : Management: The Art and Science of Managing</h3>
      <p style="text-align: justify">Episode ketiga ini kita akan mencari tau apa yang dilakukan oleh seorang manager
        dan akan membahas juga fungsi-fungsi manajemen setra keterampilan yang dibutuhkan.</p>

      <p class="price">
        <strong class="free">Free</strong>
        <a href="../../view/product.html"><button type="button" class="btn btn-primary">Watch</button></a>
      </p>
    </div>

    <div class="program-card">
      <img src="../../img/bsn3.jpeg" alt="Video Interaktif" />
      <h3 style="text-align: left">Eps 4 : Company Resources</h3>
      <p style="text-align: justify">Di episode kali ini kita akan membahas apa saja sumber daya yang dibutuhkan untuk
        menjalankan sebuah bisnis? Kita akan membahas sumber daya manusia, keuangan, fisik, dan informasi yang
        dibutuhkan.</p>

      <p class="price">
        <strong class="free"><i class="fa-solid fa-lock"></i></strong>
        <a href="../../view/product.html"><button type="button" class="btn btn-primary">Watch</button></a>
      </p>
    </div>

    <div class="program-card">
      <img src="../../img/bsn8.jpeg" alt="Video Interaktif" />
      <h3 style="text-align: left">Eps 5 : Micro and Macro Environment</h3>
      <p style="text-align: justify"> Kira-kira apa saja faktor yang mempengaruhi keberhasilan sebuah bisnis? Episode
        ini kita akan menganalisis lingkungan bisnis secara mikro dan makro serta memahami tentang SWOT.</p>

      <p class="price">
        <strong class="free"><i class="fa-solid fa-lock"></i></strong>
        <a href="../../view/product.html"><button type="button" class="btn btn-primary">Watch</button></a>
      </p>
    </div>

    <div class="program-card">
      <img src="../../img/bsn7.jpeg" alt="Video Interaktif" />
      <h3 style="text-align: left">Eps 6 : Business Etiquette</h3>
      <p style="text-align: justify">Mengapa etika penting dalam bisnis? Kita akan membahas konsep etika bisnis,
        tanggungjawab sosial perusahaan dan kasus-kasus yang sering terjadi.</p>

      <p class="price">
        <strong class="free"><i class="fa-solid fa-lock"></i></strong>
        <a href="../../view/product.html"><button type="button" class="btn btn-primary">Watch</button></a>
      </p>
    </div>

    <div class="program-card">
      <img src="../../img/bsn5.jpeg" alt="Video Interaktif" />
      <h3 style="text-align: left">Eps 7 : Become an Entrepreneur</h3>
      <p style="text-align: justify">Apakah kamu tau wirausahawan? Apa yang membuat seseorang menjadi wirausahawan yang
        sukses? Kita akan membahas karakteristik dan tantangan yang dihadapi oleh wirausahawan.</p>

      <p class="price">
        <strong class="free"><i class="fa-solid fa-lock"></i></strong>
        <a href="../../view/product.html"><button type="button" class="btn btn-primary">Watch</button></a>
      </p>
    </div>

    <div class="program-card">
      <img src="../../img/bsn6.jpeg" alt="Video Interaktif" />
      <h3 style="text-align: left">Eps 8 : Business Plan</h3>
      <p style="text-align: justify">Kira-kira bagaimana cara menyusun rencana bisnis yang baik? Kita akan membahas
        langkah-langkah dalam membuat rencana bisnis.</p>

      <p class="price">
        <strong class="free"><i class="fa-solid fa-lock"></i></strong>
        <a href="../../view/product.html"><button type="button" class="btn btn-primary">Watch</button></a>
      </p>
    </div>

    <div class="program-card">
      <img src="../../img/bsn9.jpeg" alt="Video Interaktif" />
      <h3 style="text-align: left">Eps 9 : Professions in Business</h3>
      <p style="text-align: justify">Ingin tau tentang profesi apa saja yang bisa kita pilih di bidang bisnis? Kita akan
        membahas berbagai pilihan karier dan kualifikasi yang dibutuhkan.</p>

      <p class="price">
        <strong class="free"><i class="fa-solid fa-lock"></i></strong>
        <a href="../../view/product.html"><button type="button" class="btn btn-primary">Watch</button></a>
      </p>
    </div>

    <div class="program-card">
      <img src="../../img/bsn4.jpeg" alt="Video Interaktif" />
      <h3 style="text-align: left">Eps 10 : Promising Industry</h3>
      <p style="text-align: justify">
        Industri apa yang sedang berkembang saat ini? Disini kita akan membahas tren bisnis masa depan dan peluang
        karier apa saja yang menjanjikan.
      </p>
      <p class="price">
        <strong class="free"><i class="fa-solid fa-lock"></i></strong>
        <a href="../../view/product.html"><button type="button" class="btn btn-primary">Watch</button></a>
      </p>
    </div>

    <div class="program-card">
      <img src="../../img/bsn10.jpeg" alt="Video Interaktif" />
      <h3 style="text-align: left">Eps 11 : Social Entrepreneurship</h3>
      <p style="text-align: justify">
        Episode ini akan membahas konsep kewirausahaan sosial, yaitu bisnis yang didirikan dengan tujuan utama untuk
        menyelesaikan masalah sosial. Kita akan belajar tentang berbagai model bisnis sosial dan kisah sukses para
        wirausahawan sosial.
      </p>
      <p class="price">
        <strong class="free"><i class="fa-solid fa-lock"></i></strong>
        <a href="../../view/product.html"><button type="button" class="btn btn-primary">Watch</button></a>
      </p>
    </div>

    <div class="program-card">
      <img src="../../img/bsn1.jpeg" alt="Video Interaktif" />
      <h3 style="text-align: left">Eps 12 : International Business</h3>
      <p style="text-align: justify">
        Dunia bisnis tidak lagi terbatas pada satu negara. Episode ini akan membahas bagaimana perusahaan-perusahaan
        besar beroperasi di pasar global. Kita akan belajar tentang strategi memasuki pasar internasional, tantangan
        yang dihadapi, dan pentingnya memahami perbedaan budaya dalam menjalankan bisnis
      </p>
      <p class="price">
        <strong class="free"><i class="fa-solid fa-lock"></i></strong>
        <a href="../../view/product.html"><button type="button" class="btn btn-primary">Watch</button></a>
      </p>
    </div>
  </section>

  <footer>
    <div class="footer-container">
      <div class="footer-about">
        <h3>Tentang Kami</h3>
        <p>
          PassionPath membantu pengguna mengenali potensi dan minat melalui
          tes psikologis ilmiah. Platform ini memberikan rekomendasi karir dan
          pendidikan yang sesuai, serta laporan hasil tes untuk pengembangan
          diri dan perencanaan masa depan.
        </p>
      </div>

      <div class="kekanan">
        <div class="contact-us">
          <!-- <div class="footer-links"> -->
          <h3>Contact Us</h3>
          <ul>
            <li>
              <a href="#"><i class="fa-brands fa-whatsapp"></i> Whatsapp</a>
            </li>
            <li>
              <a href="#courses"><i class="fa-solid fa-envelope"></i> Email</a>
            </li>
            <li>
              <a href="#about"><i class="fa-solid fa-location-dot"></i> Cawang PGC, Lt.4</a>
            </li>
          </ul>
        </div>

        <div class="information">
          <!-- <div class="footer-contact"> -->
          <h3>information</h3>
          <ul>
            <li>
              <a href="#"><i class="fa-solid fa-hand-holding-dollar"></i> Jumlah
                Donasi</a>
            </li>
            <li>
              <a href="#"><i class="fa-solid fa-images"></i> Dokumentasi</a>
            </li>
            <li>
              <a href="#"><i class="fa-solid fa-pen-to-square"></i> Program &
                Rencana</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </footer>

  <!-- javascript -->
  <script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4="
    crossorigin="anonymous"></script>
  <script src="../../style/navbar.js"></script>
</body>

</html>
