<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>PassionPath</title>
  <link rel="shotcut icon" type="n-icon" href="../img/logo_Square_passionpath.png" />
  <link rel="stylesheet" href="../../style/courses/style_design.css" />
  <link rel="stylesheet" href="../../style/style_nav-footer.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" />
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous" />
  <!-- Import Google Fonts Poppins -->
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap" rel="stylesheet" />
  <!-- Link to external CSS -->
  <link rel="stylesheet" href="../../style/courses/style_bussines.css" />
  <link rel="stylesheet" href="../../style/courses/style_courses.css" />
  <link rel="stylesheet" href="../../style/style_nav-footer.css" />

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" />
  <!-- Import Google Fonts Poppins -->
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap" rel="stylesheet" />
  <!-- Link to external CSS -->
  <link rel="stylesheet" href="../../style/courses/style_courses.css" />
  <link rel="stylesheet" href="../../style/style_nav-footer.css" />

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" />
</head>

<body>
  <header>
    <div class="navbar-custom">
      <div class="rata-kiri">
        <div class="logo">
          <a href="../../index.html"><img src="../../img/logo_long_passionpath.png" alt="PassionPath Logo" /></a>
        </div>
        <nav>
          <ul>
            <li><a href="../../index.html">Home</a></li>
            <li><a href="../../view/about.html">About</a></li>
            <li><a href="../../view/product.html">Product</a></li>
            <li><a href="../view/contact.html">Contact</a></li>
          </ul>
        </nav>
      </div>

      <div class="auth-buttons">
        <a href="../../view/login.html">
          <button class="login-btn">Login</button>
        </a>
        <a href="../../view/register.html">
          <button class="register-btn">Register</button>
        </a>
      </div>
      <i class="fa fa-bars" aria-hidden="true" id="menu-icon"></i>
    </div>
  </header>

  <section class="main-section">
    <h2 style="margin-left: -65px; margin-right: 20px; text-align: center;">Design</h2>
    <p style="margin-left: -65px; margin-right: 20px; text-align: justify;">
      Pernah merasa terinspirasi oleh sebuah logo, website, atau ilustrasi yang bikin kamu berpikir, “Gimana ya caranya
      bikin hal sekeren ini?” Desain adalah lebih dari sekadar seni – ini adalah cara untuk mengomunikasikan ide,
      membangun brand, dan memengaruhi dunia. Mulai dari desain grafis, UI/UX, hingga ilustrasi digital, dunia desain
      menawarkan peluang tak terbatas untuk mengekspresikan kreativitas sambil menciptakan sesuatu yang fungsional. Jika
      kamu punya passion dalam visual dan ingin belajar bagaimana mengubah ide kreatifmu jadi karya yang nyata, program
      ini adalah langkah awal yang sempurna! Yuk, jelajahi dunia desain dan temukan jalan karirmu di bidang yang seru
      ini!
    </p>
  </section>

  <section class="program-container">
    <!-- Program 1 -->
    <div class="program-card">
      <img src="../../img/pict_design1.jpg" alt="Video Interaktif" />
      <h3 style="text-align: center">Eps 1: Basic Design Introduction</h3>
      <p style="text-align: justify">
        Di episode ini, kita akan memulai perjalanan mengenal dunia desain dan
        berbagai karir yang kompeten di dalamnya. Mulai dari desain grafis,
        desain produk, hingga desain interior dan web. Selain itu, kita akan
        membahas apa itu desain, bagaimana desainer bekerja, dan peran penting
        mereka di industri kreatif.
      </p>
      <p class="price">
        <strong class="free">Free</strong>
        <a href="../../view/product.html"><button type="button" class="btn btn-primary">Watch</button></a>
      </p>
    </div>

    <!-- Program 2 -->
    <div class="program-card">
      <img src="../../img/pict_design2.jpg" alt="Video Interaktif" />
      <h3 style="text-align: center">Eps 2: Mandatory Materials</h3>
      <p style="text-align: justify">
        Di episode kedua ini, kita akan membahas alat dan bahan yang kamu
        butuhkan untuk memulai perjalanan desainmu. Dari peralatan tradisional
        seperti pensil, kertas, dan cat air hingga perangkat digital seperti
        tablet grafis dan software desain populer seperti Adobe Illustrator
        dan Photoshop.
      </p>
      <p class="price">
        <strong class="free">Free</strong>
        <a href="../../view/product.html"><button type="button" class="btn btn-primary">Watch</button></a>
      </p>
    </div>

    <!-- Program 3 -->
    <div class="program-card">
      <img src="../../img/pict_design3.jpg" alt="Video Interaktif" />
      <h3 style="text-align: center">Eps 3: Carreer Exploration</h3>
      <p style="text-align: justify">
        Peluang karir dalam dunia desain sangat luas, mulai dari desain
        produk, desain grafis, hingga UI/UX dan animasi. Setiap bidang
        memiliki peluang dan tantangannya masing-masing. Jelajahi semuanya di
        episode ini.
      </p>
      <p class="price">
        <strong class="free">Free</strong>
        <a href="../../view/product.html"><button type="button" class="btn btn-primary">Watch</button></a>
      </p>
    </div>

    <!-- Program 4 -->
    <div class="program-card">
      <img src="../../img/pict_design4.jpg" alt="Video Interaktif" />
      <h3 style="text-align: center">Eps 4: Brainstorming</h3>
      <p style="text-align: justify">
        Brainstorming adalah langkah awal dalam menciptakan desain yang
        kreatif dan inovatif. Kamu akan belajar teknik-teknik brainstorming
        yang efektif, seperti mind mapping, sketsa awal, serta bagaimana
        mengembangkan ide-ide dari inspirasi hingga menjadi konsep yang solid.
        Simak semua dalam episode ini.
      </p>
      <p class="price">
        <strong class="free"><i class="fa-solid fa-lock"></i></strong>
        <a href="../../view/product.html"><button type="button" class="btn btn-primary">Watch</button></a>
      </p>
    </div>

    <!-- Program 5 -->
    <div class="program-card">
      <img src="../../img/pict_design5.jpg" alt="Video Interaktif" />
      <h3 style="text-align: center">Eps 5 : Design Branding</h3>
      <p style="text-align: justify">
        Konsep desain yang kuat dapat membentuk identitas sebuah brand. Mulai
        dari pembuatan logo, pemilihan warna, hingga tipografi, kamu akan
        belajar bagaimana elemen-elemen visual bekerja sama untuk menciptakan
        brand yang kuat dan mudah dikenali. Pelajari semua di episode ini.
      </p>
      <p class="price">
        <strong class="free"><i class="fa-solid fa-lock"></i></strong>
        <a href="../../view/product.html"><button type="button" class="btn btn-primary">Watch</button></a>
      </p>
    </div>

    <!-- Program 6 -->
    <div class="program-card">
      <img src="../../img/pict_design6.jpg" alt="Video Interaktif" />
      <h3 style="text-align: center">Eps 6: Portfolio Improvement</h3>
      <p style="text-align: justify">
        Kunci penting untuk menunjukkan keterampilan dan karya mereka kepada
        calon klien atau perekrut adalah portolio yang mendukung. Kamu akan
        belajar bagaimana memilih karya terbaik, menampilkan proses kreatif,
        serta menggunakan platform online seperti Behance atau Dribbble untuk
        memamerkan portofolio terbaikmu.
      </p>
      <p class="price">
        <strong class="free"><i class="fa-solid fa-lock"></i></strong>
        <a href="../../view/product.html"><button type="button" class="btn btn-primary">Watch</button></a>
      </p>
    </div>
  </section>

  <footer>
    <div class="footer-container">
      <div class="footer-about">
        <h3>Tentang Kami</h3>
        <p>
          PassionPath membantu pengguna mengenali potensi dan minat melalui
          tes psikologis ilmiah. Platform ini memberikan rekomendasi karir dan
          pendidikan yang sesuai, serta laporan hasil tes untuk pengembangan
          diri dan perencanaan masa depan.
        </p>
      </div>

      <div class="kekanan">
        <div class="contact-us">
          <!-- <div class="footer-links"> -->
          <h3>Contact Us</h3>
          <ul>
            <li>
              <a href="#"><i class="fa-brands fa-whatsapp"></i> Whatsapp</a>
            </li>
            <li>
              <a href="#courses"><i class="fa-solid fa-envelope"></i> Email</a>
            </li>
            <li>
              <a href="#about"><i class="fa-solid fa-location-dot"></i> Cawang PGC, Lt.4</a>
            </li>
          </ul>
        </div>

        <div class="information">
          <!-- <div class="footer-contact"> -->
          <h3>information</h3>
          <ul>
            <li>
              <a href="#"><i class="fa-solid fa-hand-holding-dollar"></i> Jumlah
                Donasi</a>
            </li>
            <li>
              <a href="#"><i class="fa-solid fa-images"></i> Dokumentasi</a>
            </li>
            <li>
              <a href="#"><i class="fa-solid fa-pen-to-square"></i> Program &
                Rencana</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </footer>

  <!-- javascript -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"></script>
  <script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4="
    crossorigin="anonymous"></script>
  <script src="../../style/navbar.js"></script>
</body>

</html>
