<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>PassionPath</title>
  <link rel="shotcut icon" type="n-icon" href="../img/logo_Square_passionpath.png">
  <link rel="stylesheet" href="../../style/courses/style_development.css">
  <link rel="stylesheet" href="../../style/style_nav-footer.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">

  <!-- Import Google Fonts Poppins -->
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap" rel="stylesheet" />
  <!-- Link to external CSS -->
  <link rel="stylesheet" href="../../style/courses/style_courses.css" />
  <link rel="stylesheet" href="../../style/style_nav-footer.css" />

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" />
</head>

<body>

  <header>
    <div class="navbar-custom">
      <div class="rata-kiri">
        <div class="logo">
          <a href="../../index.html"><img src="../../img/logo_long_passionpath.png" alt="PassionPath Logo" /></a>
        </div>
        <nav>
          <ul>
            <li><a href="../../index.html">Home</a></li>
            <li><a href="../../view/about.html">About</a></li>
            <li><a href="../../view/product.html">Product</a></li>
            <li><a href="../view/contact.html">Contact</a></li>
          </ul>
        </nav>
      </div>

      <div class="auth-buttons">
        <a href="../../view/login.html">
          <button class="login-btn">Login</button>
        </a>
        <a href="../../view/register.html">
          <button class="register-btn">Register</button>
        </a>
      </div>
      <i class="fa fa-bars" aria-hidden="true" id="menu-icon"></i>
    </div>
  </header>

  <section class="main-section">
    <h2 style="margin-left: -65px; margin-right: 20px; text-align: center;">Development</h2>
    <p style="margin-left: -65px; margin-right: 20px; text-align: justify;">
      Di era digital saat ini, pengembangan perangkat lunak telah menjadi salah satu pilar utama dalam kemajuan
      teknologi. Dari aplikasi sederhana di ponsel hingga sistem kompleks yang menggerakkan infrastruktur kritis,
      perangkat lunak memegang peranan penting dalam setiap aspek kehidupan kita. Proses pengembangan perangkat lunak
      bukan hanya sekadar penulisan kode, tetapi juga mencakup analisis kebutuhan, desain sistem, pengujian, dan
      pemeliharaan. Dengan metode yang terus berkembang, seperti Agile dan DevOps, tim pengembang semakin mampu untuk
      beradaptasi dengan perubahan kebutuhan dan menciptakan solusi yang lebih efisien dan efektif.
    </p>
  </section>

  <section class="program-container">
    <!-- Program 1 -->
    <div class="program-card">
      <img src="../../img/pict.development1.jpg" alt="Video Interaktif" />
      <h3 style="text-align: left">Eps 1 : Pengenalan Software Development</h3>
      <p style="text-align: justify">
        Peserta akan mempelajari dasar-dasar software development, termasuk definisi perangkat lunak dan berbagai
        jenisnya. Mereka akan memahami siklus hidup pengembangan perangkat lunak (SDLC), yang mencakup analisis, desain,
        pengembangan, pengujian, dan pemeliharaan. Pengetahuan ini menjadi fondasi penting untuk topik-topik selanjutnya
        dalam pembelajaran.
      </p>
      <p class="price">
        <strong class="free">Free</strong>
        <a href="../../view/product.html"><button type="button" class="btn btn-primary">Watch</button></a>
      </p>
    </div>
    <!-- Program 2 -->
    <div class="program-card">
      <img src="../../img/pict.development2.jpg" alt="Video Interaktif" />
      <h3 style="text-align: left">Eps 2 : Metodologi Pengembangan Perangkat Lunak</h3>
      <p style="text-align: justify">
        Episode ini membahas berbagai metodologi dalam pengembangan perangkat lunak, seperti Agile, Waterfall, dan
        DevOps. Peserta akan belajar kelebihan dan kekurangan masing-masing metodologi serta kapan menggunakannya.
        Pemahaman tentang metodologi ini membantu peserta memilih pendekatan yang tepat berdasarkan karakteristik proyek
        dan kebutuhan tim.
      </p>
      <p class="price">
        <strong class="free">Free</strong>
        <a href="../../view/product.html"><button type="button" class="btn btn-primary">Watch</button></a>
      </p>
    </div>
    <!-- Program 3 -->
    <div class="program-card">
      <img src="../../img/pict.development3.jpg" alt="Video Interaktif" />
      <h3 style="text-align: left">Eps 3 : Alat dan Teknologi dalam Software Development</h3>
      <p style="text-align: justify">
        Peserta akan mempelajari alat dan teknologi yang umum digunakan, seperti Integrated Development Environment
        (IDE), version control (Git), dan manajemen proyek (Trello, Jira). Episode ini akan memberikan wawasan tentang
        cara memanfaatkan alat-alat tersebut untuk meningkatkan kolaborasi, efisiensi, dan pengelolaan proyek dalam tim
        pengembangan perangkat lunak.
      </p>
      <p class="price">
        <strong class="free">Free</strong>
        <a href="../../view/product.html"><button type="button" class="btn btn-primary">Watch</button></a>
      </p>
    </div>
    <div class="program-card">
      <img src="../../img/pict.development4.jpg" alt="Video Interaktif">
      <h3 style="text-align: left">Eps 4 : Bahasa Pemrograman Dasar</h3>
      <p style="text-align: justify">
        Episode ini memperkenalkan peserta pada bahasa pemrograman populer seperti Python, Java, dan JavaScript. Mereka
        akan mempelajari sintaksis, tipe data, dan karakteristik masing-masing bahasa. Dengan pemahaman ini, peserta
        dapat memilih bahasa yang sesuai berdasarkan jenis proyek, serta mempersiapkan diri untuk belajar teknik
        pemrograman lebih lanjut.
      </p>
      <p class="price">
        <strong class="free"><i class="fa-solid fa-lock"></i></strong>
        <a href="../../view/product.html"><button type="button" class="btn btn-primary">Watch</button></a>
      </p>
    </div>
    <div class="program-card">
      <img src="../../img/pict.development5.jpg" alt="Video Interaktif" />
      <h3 style="text-align: left">Eps 5 : Konsep Dasar Pemrograman</h3>
      <p style="text-align: justify">
        Peserta akan mendalami konsep dasar pemrograman, termasuk variabel, tipe data, struktur kontrol (if, loop), dan
        fungsi. Melalui penjelasan dan latihan praktis, mereka akan belajar menulis kode yang efisien dan terstruktur.
        Pemahaman ini penting untuk membangun dasar yang kuat dalam pengembangan perangkat lunak.
      </p>
      <p class="price">
        <strong class="free"><i class="fa-solid fa-lock"></i></strong>
        <a href="../../view/product.html"><button type="button" class="btn btn-primary">Watch</button></a>
      </p>
    </div>
    <div class="program-card">
      <img src="../../img/pict.development6.jpg" alt="Video Interaktif" />
      <h3 style="text-align: left">Eps 6 : Pengembangan Web Frontend
      </h3>
      <p style="text-align: justify">
        Peserta akan mempelajari pengembangan web frontend dengan fokus pada HTML, CSS, dan JavaScript. Mereka akan
        belajar cara membuat antarmuka pengguna yang menarik dan responsif. Diskusi juga akan mencakup prinsip desain
        responsif, memastikan halaman web dapat diakses dengan baik di berbagai perangkat dan ukuran layar.
      </p>
      <p class="price">
        <strong class="free"><i class="fa-solid fa-lock"></i></strong>
        <a href="../../view/product.html"><button type="button" class="btn btn-primary">Watch</button></a>
      </p>
    </div>
  </section>
  <footer>
    <div class="footer-container">
      <div class="footer-about">
        <h3>Tentang Kami</h3>
        <p>
          PassionPath membantu pengguna mengenali potensi dan minat melalui
          tes psikologis ilmiah. Platform ini memberikan rekomendasi karir dan
          pendidikan yang sesuai, serta laporan hasil tes untuk pengembangan
          diri dan perencanaan masa depan.
        </p>
      </div>

      <div class="kekanan">
        <div class="contact-us">
          <!-- <div class="footer-links"> -->
          <h3>Contact Us</h3>
          <ul>
            <li>
              <a href="#"><i class="fa-brands fa-whatsapp"></i> Whatsapp</a>
            </li>
            <li>
              <a href="#courses"><i class="fa-solid fa-envelope"></i> Email</a>
            </li>
            <li>
              <a href="#about"><i class="fa-solid fa-location-dot"></i> Cawang PGC, Lt.4</a>
            </li>
          </ul>
        </div>

        <div class="information">
          <!-- <div class="footer-contact"> -->
          <h3>information</h3>
          <ul>
            <li>
              <a href="#"><i class="fa-solid fa-hand-holding-dollar"></i> Jumlah
                Donasi</a>
            </li>
            <li>
              <a href="#"><i class="fa-solid fa-images"></i> Dokumentasi</a>
            </li>
            <li>
              <a href="#"><i class="fa-solid fa-pen-to-square"></i> Program &
                Rencana</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </footer>

  <!-- javascript -->
  <script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4="
    crossorigin="anonymous"></script>
  <script src="../../style/navbar.js"></script>
</body>

</html>
