<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>PassionPath</title>
  <link rel="shotcut icon" type="n-icon" href="../img/logo_Square_passionpath.png">
  <link rel="stylesheet" href="../../style/courses/style_language.css">
  <link rel="stylesheet" href="../../style/style_nav-footer.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">

  <!-- Import Google Fonts Poppins -->
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap" rel="stylesheet" />
  <!-- Link to external CSS -->
  <link rel="stylesheet" href="../../style/courses/style_courses.css" />
  <link rel="stylesheet" href="../../style/style_nav-footer.css" />

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" />
</head>

<body>

  <header>
    <div class="navbar-custom">
      <div class="rata-kiri">
        <div class="logo">
          <a href="../../index.html"><img src="../../img/logo_long_passionpath.png" alt="PassionPath Logo" /></a>
        </div>
        <nav>
          <ul>
            <li><a href="../../index.html">Home</a></li>
            <li><a href="../../view/about.html">About</a></li>
            <li><a href="../../view/product.html">Product</a></li>
            <li><a href="../view/contact.html">Contact</a></li>
          </ul>
        </nav>
      </div>

      <div class="auth-buttons">
        <a href="../../view/login.html">
          <button class="login-btn">Login</button>
        </a>
        <a href="../../view/register.html">
          <button class="register-btn">Register</button>
        </a>
      </div>
      <i class="fa fa-bars" aria-hidden="true" id="menu-icon"></i>
    </div>
  </header>

  <section class="main-section">
    <h2 style="margin-left: -65px; margin-right: 20px; text-align: center;">Language</h2>
    <p style="margin-left: -65px; margin-right: 20px; text-align: justify;"> Tahukah kamu bahwa orang yang bilingual
      cenderung lebih kreatif dan inovatif? Atau bahwa
      belajar bahasa baru dapat menunda gejala Alzheimer? Bahasa itu lebih dari sekadar kata-kata.
      Menguasai bahasa asing adalah aset berharga di dunia kerja saat ini. Dengan kemampuan berbahasa
      yang baik, kamu bisa bernegosiasi, mempresentasikan ide, dan membangun jaringan dengan orang-orang
      dari berbagai latar belakang. Selain itu, belajar bahasa juga akan melatihmu untuk menjadi seorang
      komunikator yang efektif. Yuk, kita bahas lebih lanjut tentang manfaat belajar bahasa!
    </p>
  </section>

  <section class="program-container">
    <!-- Program 1 -->
    <div class="program-card">
      <img src="../../img/lgs1.jpeg" alt="Video Interaktif"/>
      <h3 style="text-align: left">Eps 1 : Definition and Scope of Linguistics</h3>
      <p style="text-align: justify">
        Episode ini akan mengupas tuntas apa itu bahasa dari perspektif linguistik.
        Kita akan membahas berbagai cabang ilmu bahasa dan bagaimana masing-masing cabang
        mempelajari aspek yang berbeda dari bahasa.
      </p>
      <p class="price">
        <strong class="free">Free</strong>
        <a href="../../view/product.html"><button type="button" class="btn btn-primary">Watch</button></a>
      </p>
    </div>
    <!-- Program 2 -->
    <div class="program-card">
      <img src="../../img/lgs12.jpeg" alt="Video Interaktif"/>
      <h3 style="text-align: left">Eps 2 : History of Language Development</h3>
      <p style="text-align: justify">
        Perjalanan panjang bahasa dari masa ke masa akan menjadi fokus utama episode ini.
        Kita akan menelusuri teori-teori tentang asal-usul bahasa dan melihat bagaimana bahasa
        berubah seiring dengan perkembangan peradaban manusia.
      </p>
      <p class="price">
        <strong class="free">Free</strong>
        <a href="../../view/product.html"><button type="button" class="btn btn-primary">Watch</button></a>
      </p>
    </div>
    <!-- Program 3 -->
    <div class="program-card">
      <img src="../../img/lgs4.jpeg" alt="Video Interaktif"/>
      <h3 style="text-align: left">Eps 3 : Language Structure</h3>
      <p style="text-align: justify">
        Episode ini akan membahas tentang komponen-komponen dasar bahasa, seperti fonem, morfem, kata, dan kalimat.
        Kita akan menganalisis bagaimana unsur-unsur ini bersatu membentuk sebuah kalimat yang bermakna.

      </p>
      <p class="price">
        <strong class="free">Free</strong>
        <a href="../../view/product.html"><button type="button" class="btn btn-primary">Watch</button></a>
      </p>
    </div>

    <div class="program-card">
      <img src="../../img/lgs9.jpeg" alt="Video Interaktif"/>
      <h3 style="text-align: left">Eps 4 : Meaning and Context</h3>
      <p style="text-align: justify">
        Makna sebuah kata tidak selalu sama dalam setiap konteks. Episode ini akan menjelaskan bagaimana konteks
        mempengaruhi pemahaman kita terhadap makna suatu ujaran. Kita juga akan membahas konsep ambiguitas
        dan implikatur.
      </p>
      <p class="price">
        <strong class="free"><i class="fa-solid fa-lock"></i></strong>
        <a href="../../view/product.html"><button type="button" class="btn btn-primary">Watch</button></a>
      </p>
    </div>

    <div class="program-card">
      <img src="../../img/lgs3.jpeg" alt="Video Interaktif"/>
      <h3 style="text-align: left">Eps 5 : The Relationship between Language and Culture</h3>
      <p style="text-align: justify">
        Bahasa dan budaya memiliki hubungan yang sangat erat.
        Episode ini akan membahas bagaimana bahasa merefleksikan budaya suatu masyarakat dan sebaliknya.
      </p>
      <p class="price">
        <strong class="free"><i class="fa-solid fa-lock"></i></strong>
        <a href="../../view/product.html"><button type="button" class="btn btn-primary">Watch</button></a>
      </p>
    </div>

    <div class="program-card">
      <img src="../../img/lgs2.jpeg" alt="Video Interaktif"/>
      <h3 style="text-align: left">Eps 6 : Language as Culture Identity</h3>
      <p style="text-align: justify">
        Bahasa tidak hanya alat komunikasi, tetapi juga penanda identitas suatu kelompok.
        Episode ini akan membahas bagaimana bahasa digunakan untuk membedakan satu kelompok
        sosial dengan kelompok lainnya.
      </p>
      <p class="price">
        <strong class="free"><i class="fa-solid fa-lock"></i></strong>
        <a href="../../view/product.html"><button type="button" class="btn btn-primary">Watch</button></a>
      </p>
    </div>

    <div class="program-card">
      <img src="../../img/lgs5.jpeg" alt="Video Interaktif"/>
      <h3 style="text-align: left">Eps 7 : Language Learning Method</h3>
      <p style="text-align: justify">
        Episode ini akan membahas berbagai metode yang digunakan dalam pembelajaran bahasa,
        baik bahasa pertama maupun bahasa kedua. Kita akan mengkaji
        kelebihan dan kekurangan masing-masing metode.
      </p>
      <p class="price">
        <strong class="free"><i class="fa-solid fa-lock"></i></strong>
        <a href="../../view/product.html"><button type="button" class="btn btn-primary">Watch</button></a>
      </p>
    </div>

    <div class="program-card">
      <img src="../../img/lgs11.jpeg" alt="Video Interaktif"/>
      <h3 style="text-align: left">Eps 8 : Psychology of Language</h3>
      <p style="text-align: justify">
        Proses akuisisi bahasa merupakan fenomena yang menarik. Episode ini akan membahas bagaimana
        manusia mempelajari bahasa pertama dan bagaimana proses pembelajaran bahasa kedua berbeda.
      </p>
      <p class="price">
        <strong class="free"><i class="fa-solid fa-lock"></i></strong>
        <a href="../../view/product.html"><button type="button" class="btn btn-primary">Watch</button></a>
      </p>
    </div>

    <div class="program-card">
      <img src="../../img/lgs6.jpeg" alt="Video Interaktif"/>
      <h3 style="text-align: left">Eps 9 : Language Teaching</h3>
      <p style="text-align: justify">
        Bagi yang berminat menjadi guru bahasa, episode ini sangat penting. Kita akan membahas peran
        guru dalam menciptakan lingkungan belajar yang efektif dan mengembangkan materi ajar yang menarik.
      </p>
      <p class="price">
        <strong class="free"><i class="fa-solid fa-lock"></i></strong>
        <a href="../../view/product.html"><button type="button" class="btn btn-primary">Watch</button></a>
      </p>
    </div>

    <div class="program-card">
      <img src="../../img/lgs8.jpeg" alt="Video Interaktif"/>
      <h3 style="text-align: left">Eps 10 : Professions in the Language Department</h3>
      <p style="text-align: justify">
        Episode ini akan memperkenalkan berbagai profesi yang berkaitan dengan bahasa, mulai dari
        penerjemah hingga lexicographer. Kita akan membahas persyaratan dan kualifikasi yang
        dibutuhkan untuk masing-masing profesi.
      </p>
      <p class="price">
        <strong class="free"><i class="fa-solid fa-lock"></i></strong>
        <a href="../../view/product.html"><button type="button" class="btn btn-primary">Watch</button></a>
      </p>
    </div>

    <div class="program-card">
      <img src="../../img/lgs10.jpeg" alt="Video Interaktif"/>
      <h3 style="text-align: left">Eps 11 : Translation industry</h3>
      <p style="text-align: justify">
        Dunia penerjemahan memiliki tantangan dan dinamika yang menarik. Episode ini akan membahas
        berbagai jenis terjemahan, alat bantu yang digunakan, serta etika profesi penerjemah.
      </p>
      <p class="price">
        <strong class="free"><i class="fa-solid fa-lock"></i></strong>
        <a href="../../view/product.html"><button type="button" class="btn btn-primary">Watch</button></a>
      </p>
    </div>

    <div class="program-card">
      <img src="../../img/lgs7.jpeg" alt="Video Interaktif"/>
      <h3 style="text-align: left">Eps 12 : Career Prospects in the Digital Era</h3>
      <p style="text-align: justify">
        Perkembangan teknologi digital telah mengubah lanskap dunia kerja, termasuk di bidang bahasa.
        Episode ini akan membahas peluang dan tantangan baru yang dihadapi oleh para profesional
        bahasa di era digital.
      </p>
      <p class="price">
        <strong class="free"><i class="fa-solid fa-lock"></i></strong>
        <a href="../../view/product.html"><button type="button" class="btn btn-primary">Watch</button></a>
      </p>
    </div>
  </section>

  <footer>
    <div class="footer-container">
      <div class="footer-about">
        <h3>Tentang Kami</h3>
        <p>
          PassionPath membantu pengguna mengenali potensi dan minat melalui
          tes psikologis ilmiah. Platform ini memberikan rekomendasi karir dan
          pendidikan yang sesuai, serta laporan hasil tes untuk pengembangan
          diri dan perencanaan masa depan.
        </p>
      </div>

      <div class="kekanan">
        <div class="contact-us">
          <h3>Contact Us</h3>
          <ul>
            <li>
              <a href="#"><i class="fa-brands fa-whatsapp"></i> Whatsapp</a>
            </li>
            <li>
              <a href="#courses"><i class="fa-solid fa-envelope"></i> Email</a>
            </li>
            <li>
              <a href="#about"><i class="fa-solid fa-location-dot"></i> Cawang PGC, Lt.4</a>
            </li>
          </ul>
        </div>

        <div class="information">
          <h3>information</h3>
          <ul>
            <li>
              <a href="#"><i class="fa-solid fa-hand-holding-dollar"></i> Jumlah
                Donasi</a>
            </li>
            <li>
              <a href="#"><i class="fa-solid fa-images"></i> Dokumentasi</a>
            </li>
            <li>
              <a href="#"><i class="fa-solid fa-pen-to-square"></i> Program &
                Rencana</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </footer>

  <!-- javascript -->
  <script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4="
    crossorigin="anonymous"></script>
  <script src="../../style/navbar.js"></script>
</body>

</html>
