body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    background-color: #f5f5f5;
}
.sidebar {
    width: 250px;
    height: 100vh;
    background-color: #ffffff;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    padding-top: 20px;
    border-right: 1px solid #e0e0e0;
}
.sidebar a {
    color: black;
    padding: 15px 20px;
    text-decoration: none;
    font-size: 16px;
}
.sidebar a:hover {
    background-color: #f0f0f0;
}
.sidebar a.active {
    background-color: #DCF529;
    color: black;
    margin-bottom: 10px;
}
.sidebar .logout-line {
    border-top: 1px solid #e0e0e0;
    margin-top: 250px; 
    margin-bottom: 2px;
}

.sidebar a.logout {
    color: red;
    margin-top: auto; 
    margin-bottom: 20px; 
}

.main-content {
    margin-left: 250px;
    padding: 20px;
}
.header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: #DCF529;
    padding: 10px 20px;
    width: calc(100% - 250px);
    position: fixed;
    top: 0;
    left: 250px;
    z-index: 1;
    height: 70px;
}
.header .user-info {
    display: flex;
    align-items: center;
    text-align: right;
    margin-left: auto;
    margin-right: 40px;
}
.header .user-info div {
    margin-right: 10px;
}
.header .user-info img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}
.header .user-info p {
    margin: 0;
}
.header .user-info .email {
    margin-top: 5px;
}
.dashboard-content {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 80px;
}
.dashboard-content h1 {
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 10px;
}
.dashboard-content p {
    font-size: 18px;
    margin-bottom: 20px;
}
.activity-tracker {
    background-color: #f0f0f0;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 20px;
}
.activity-tracker h2 {
    font-size: 20px;
    margin-bottom: 5px;
}
.activity-tracker .tracker-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.activity-tracker .circles {
    display: flex;
    gap: 10px;
}
.activity-tracker .circle {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #ccc;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}
.activity-tracker .circle.active {
    background-color: #a3d977;
}

.circle {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #ccc;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    cursor: pointer;  
    position: relative; 
}
.circle.active {
    background-color: #a3d977; 
    color: white;
}


.activity-tracker .score {
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: 24px;
}
.activity-tracker .score i {
    color: red;
    font-size: 32px;
}
.program-activities, .recommended-programs {
    background-color: #e6e0f8;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
}
.program-activities h2, .recommended-programs h2 {
    font-size: 20px;
    margin-bottom: 20px;
}
.program-activities .activity-container, .recommended-programs .program-container {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}
.program-activities .activity, .recommended-programs .program {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    height: 150px;
}
.program-activities .activity img, .recommended-programs .program img {
    width: 50px;
    height: 50px;
}
.program-activities .activity .info, .recommended-programs .program .info {
    text-align: center;
}
.program-activities .activity .info p, .recommended-programs .program .info p {
    margin: 0;
}
.program-activities .activity .info p.title, .recommended-programs .program .info p.title {
    font-weight: bold;
}
.program-activities .activity .info p.subtitle, .recommended-programs .program .info p.subtitle {
    color: #888;
}
.program-activities .activity .continue, .recommended-programs .program .continue {
    color: blue;
    text-decoration: none;
    align-self: flex-end;
    margin-top: auto;
}


/* profile */
