@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: #f9f9f9;

    padding-top: 80px;
}

.scrolled {
    background-color: rgba(255, 255, 255, 0.9); 
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); 
}
/* Gaya untuk desktop */
.navbar-custom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
    background-color: #fff;
    border-bottom: 2px solid #eee;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    transition: background-color 0.3s ease;
}

.navbar-custom .rata-kiri {
    display: flex;
    align-items: center;
}

.navbar-custom .logo img {
    max-width: 150px;
    margin-right: 20px;
}

.navbar-custom nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
    margin: 0;
    padding: 0;
    align-items: center;
}

.navbar-custom nav ul li a {
    text-decoration: none;
    color: #333;
    font-weight: 300;
    font-size: 15px;
    transition: color 0.3s ease;
    font-family: 'Poppins', sans-serif;
}

.navbar-custom nav ul li a:hover {
    color: #7d64ff;
}

.navbar-custom .auth-buttons {
    display: flex;
    gap: 10px;
}

.navbar-custom .login-btn, .navbar-custom .register-btn {
    padding: 10px 30px;
    border-radius: 30px;
    font-size: 16px;
    cursor: pointer;
    font-family: 'Poppins', sans-serif;
}

.navbar-custom .login-btn {
    background-color: #fff;
    color: #333;
    border: 2px solid #333;
}

.navbar-custom .login-btn:hover {
    background-color: #333;
    color: #fff;
}

.navbar-custom .register-btn {
    background-color: #7d64ff;
    color: #fff;
    border: none;
}

.navbar-custom .register-btn:hover {
    background-color: #5d4acc;
}

/* Sembunyikan ikon menu di desktop */
#menu-icon {
    display: none;
    font-size: 30px;
    cursor: pointer;
}

/* Gaya untuk mobile */
@media (max-width: 768px) {
    .navbar-custom {
        flex-direction: column;
        align-items: center;
        padding: 20px;
        background-color: #fff;
    }

    .navbar-custom .rata-kiri {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin-left: 20px;
    }

    .navbar-custom .logo {
    max-width: 150px;
    margin-right: 20px;
    }

    .navbar-custom nav ul {
        display: none;
        flex-direction: column;
        gap: 15px;
        background-color: #fff;
        padding: 0;
        width: 100%;
        text-align: left; 
    }

    .navbar-custom nav ul li {
        width: 100%;
    }

    .navbar-custom nav ul li a {
        display: block;
        padding: 3px;
        font-size: 16px;
        padding-left: 30px;
        text-align: left; 
    }

    .navbar-custom .auth-buttons {
        display: none;
        flex-direction: row; 
        gap: 10px;
        margin-top: 20px; 
    }

    .navbar-custom .auth-buttons a {
        text-align: center;
    }

    .navbar-custom .auth-buttons button {
        width: 120px; 
        padding: 10px;
    }

    #menu-icon {
        display: block;
        position: absolute;
        right: 20px;
        top: 30px;
    }

    .navbar-custom.open nav ul {
        display: flex;
        text-align: left;
    }

    .navbar-custom.open .auth-buttons {
        display: flex;
        justify-content: center; 
    }
}




/* footer */
footer {
    background-color: #141414;
    padding: 40px 0;
    color: #fff;
    font-family: 'Poppins', sans-serif;
}

.kekanan{
    display: flex;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: auto;
    padding: 0 20px;
}

.footer-about, .contact-us, .information {
    flex: 1;
    margin: 20px;
}

.footer-about h3, .contact-us h3, .information h3 {
    font-size: 1.5em;
    margin-bottom: 15px;
    color: #FF7569;
}

.kekanan .contact-us ul, .kekanan .information ul {
    list-style: none;
    padding: 0;
}

.kekanan .contact-us ul li, .kenanan .information ul li {
    margin-bottom: 10px;
}

.kekanan .contact-us ul li a, .kekanan .information ul li a {
    text-decoration: none;
    color: #ffff;
    transition: color 0.3s;
}

.kekanan .contact-us ul li a:hover,.kekanan .information ul li a:hover {
    color: #fff;
}

